<header class="navbar">
  <img src="logo.png" alt="El Vivero de Jey" class="logo" (click)="scrollToSection('inicio')" />
  
  <!-- Botón hamburguesa -->
  <div class="menu-toggle" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  
  <nav>
    <ul [class.active]="menuActive">
      <li><a (click)="scrollToSection('inicio')">Inicio</a></li>
      <li><a (click)="scrollToSection('plantas')">Plantas</a></li>
      <li><a (click)="scrollToSection('nosotros')">Nosotros</a></li>
      <li><a (click)="scrollToSection('faq')">FAQ</a></li>
      <li><a (click)="scrollToSection('envios')">Envíos</a></li>
    </ul>
  </nav>
</header>
